@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button{
  border: 1px solid rgba(73, 70, 70, 0.656)
}

button:hover{
  scale: 1.1;
  transition: scale .1s;
}

.hide{
  height: 0rem;
  transition: height .5s ease-in ;
}

.show{
  transition: height .5s ease 1.3s ;
}